<div class="bg">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <h3 [ngClass]="{'mt-4': loginForm.valid || 
        (loginForm.get('email')?.untouched &&
        loginForm.get('password')?.untouched) }">Login Here</h3>

        <label for="email">Email</label>
        <input type="text" placeholder="Email" id="email" formControlName="email" class="form-control"
            [ngClass]="{'is-invalid':!loginForm.get('email')?.valid && loginForm.get('email')?.touched}">
        <div class="text-danger text-small"
            *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched">
            Email is required
        </div>
        <div class="text-danger text-small"
            *ngIf="loginForm.get('email')?.errors?.['pattern'] && loginForm.get('email')?.touched">
            Enter a valid email address, e.g., name@example.com
        </div>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" formControlName="password" class="form-control"
            [ngClass]="{'is-invalid':!loginForm.get('password')?.valid && loginForm.get('password')?.touched}">
        <div class="text-danger text-small"
            *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched">
            Password is required
        </div>
        <div class="text-danger text-small"
            *ngIf="loginForm.get('password')?.errors?.['pattern'] && loginForm.get('password')?.touched">
            Password should contain a capital letter, small letters, a special character, and numbers.
        </div>

        <button  [disabled]="!loginForm.valid || loading" type="submit" class="btn btn-white">
            <span *ngIf="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Log In
        </button>
        
        <div class="btn2">New User?<button routerLink="/register" class="btn btn-link">Register</button></div>
    </form>
</div>