.all-posts {
  margin: 0 0 5% 0;
  border: 1px solid #D0D1D5;
  border-radius: 5px;
  padding: 12px;

  header {
    padding: 0;
    position: relative;

    .dropdown{
      position: absolute;
      width: 12px;
      border: none;
      height: auto;
      right: 0px;

      .dropdown-toggle{
        color: grey;
      }
    }

    &:before,
    &:after {
      content: "";
      /* 1 */
      display: table;
      /* 2 */
    }

    &:after {
      clear: both;
    }
  }

  .profile-pic {
    width: 40px;
    height: auto;
    float: left;
    margin-right: 8px;
  }

  .name {
    color: #385A97;
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .date {
    font-size: 12px;
    color: #90949C;
  }

  .name,
  .date {
    margin: 0;
  }

  .caption {
    margin: 11px 0;
  }

  .img-content {
    width: 100%;
    margin-bottom: 11px;
    border: 1px solid rgba(0, 0, 0, .1);
  }

  // .action {
  //   div {
  //     display: inline-block;
  
  //     &:nth-child(n + 2) {
  //       margin-left: 20px;
  //     }
  
  //     a {
  //       color: #7F7F7F;
  
  //       img {
  //         display: inline-block;
  //         width: 18px;
  //         vertical-align: text-bottom;
  //       }
  
  //       p {
  //         display: inline-block;
  
  //         &:hover {
  //           text-decoration: underline;
  //         }
  //       }
  //     }
  //   }
  
  //   .like {
  //     p {
  //       color: #1787FA;
  //     }
  //   }
  
  //   .share {
  //     img {
  //       opacity: .2;
  //     }
  //   }
  // }
}

