<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <!-- side section -->
            <side-profile></side-profile>
        </div>

        <div class="col-md-6">
            <!-- Create postion section -->
            <div class="card create-post">
                <div class="card-header">
                    Create Post
                </div>
                <div class="card-body">
                    <form [formGroup]="createPostForm" (ngSubmit)="createPost()">
                        <textarea class="form-control" name="post" id="post" cols="30" rows="5" placeholder="What is in your mind?" formControlName="post"></textarea>
                        <button type="submit" class="btn btn-primary" [disabled]="!createPostForm.valid">Post</button>
                    </form>
                </div>
            </div>
            <!-- All posts section -->
            <div *ngFor="let post of allPostsData" class="all-posts">
                <header>
                    <a><img class='profile-pic' src="../../../assets/Images/user-icon.jpg"></a>
                    <h1 class="name">
                        <a>{{post.userName}}</a>
                    </h1>
                    <p class="date">{{post.createdDate | date:'mediumDate'}}, {{post.createdDate | date:'shortTime'}}
                    </p>
                </header>

                <p class="caption">{{post.post}}</p>
                
            </div>
        </div>
        <div class="col-md-3">
            <!-- Posts of loggedIn user -->
            <h3 class="heading">Your Posts</h3>
            <div *ngIf="usersPosts.length; else noPosts">
                <div *ngFor="let post of usersPosts" class="all-posts">
                    <header>
                        <span class="dropdown">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" role="button"
                                aria-expanded="false"></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" (click)="updatePost(post.id)">Update Post</a></li>
                                <li><a class="dropdown-item" (click)="deletePost(post.id)">Delete Post</a></li>
                            </ul>
                        </span>
                        <a><img class='profile-pic' src="../../../assets/Images/user-icon.jpg"></a>
                        <h1 class="name">
                            <a>{{post.userName}}</a>
                        </h1>
                        <p class="date">{{post.createdDate | date:'mediumDate'}}, {{post.createdDate | date:'shortTime'}}
                        </p>
                    </header>
    
                    <p *ngIf="post.updateFlag == false" class="caption">{{post.post}}</p>
                    <form *ngIf="post.updateFlag" #myForm="ngForm" (ngSubmit)="saveUpdatedPost(myForm, post)">
                        <input [(ngModel)]="post.post" name="postData" type="text" class="form-control my-2">
                        <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Save</button>
                    </form>
                </div>
            </div>
            <ng-template #noPosts>
                <p class="text-danger">You don't have any posts !</p>
            </ng-template>
        </div>
    </div>
</div>